/* Small devices up to 768px (Landscapes phone)*/
@media (min-width: 576px) {
    .c_cards {
        height: 550px;
    }

    .c_card_deck {
        display: initial;
    }

    .c_card_transform_1 {
        position: absolute;
    }

    .c_card_transform_2 {
        position: absolute;
    }
}