* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #111111;
  color: white;
  font-family: "Inter", serif; /*DEBUG*/
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}
